{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": ["react", "jsx-ally", "import"],
  "sourceType": "module",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  }
}
